{% extends 'base.html' %}

{% block content %}
{% if error %}
{{error}}
{% endif %}
<form method="post" action="{% url 'create' %}" enctype="multipart/form-data">
  <h1>Create Product</h1>
  {% csrf_token %}
  <div class="form-group">
    <label for="exampleInputPassword1">Title</label>
    <input type="text" class="form-control" name="title">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Url</label>
    <input type="text" class="form-control" name="url">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Description</label>
    <input type="text" class="form-control" name="body">
  </div>
  <div class="form-group">
   <label for="exampleFormControlFile1">Icon</label>
   <input type="file" class="form-control-file" name="icon">
 </div>
 <div class="form-group">
  <label for="exampleFormControlFile1">Image</label>
  <input type="file" class="form-control-file" name="image">
</div>


  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock%}
