{% extends 'base.html' %}

{% block content %}
{% if error %}
  {{error}}
{% endif %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="text-{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<div class="row">
  <div class="col-12">
    <div class="row">
        <div class="col-6">
            <img src="{{ pmodel.image.url }}" class="img-fluid">
        </div>
        <div class="col-6">
            <h1>{{ pmodel.title | title }}</h1>
            <div class="date-wrap">
              Hunted By: {{ pmodel.hunter.username }} <br>
              {{ pmodel.formatted_date }} <br>
            </div>
            <div class="pt-5">
              <a href="javascript:{document.getElementById('upvote').submit();}" class="btn btn-primary">
                  <span class="oi oi-thumb-up">{{pmodel.total_votes}}
              </a> |
              <a href="javascript:{document.getElementById('downvote').submit();}" class="btn btn-danger">
                  <span class="oi oi-thumb-down"> {{pmodel.total_down_votes}}
              </a>
            </div>
        </div>
    </div>
  </div>
</div>
<div class="row">
   <div class="col-12 pt-5">
     <p>{{ pmodel.body }}</p>
   </div>
</div>



<form id="upvote" action="{% url 'upvote' pmodel.id %}" method="post">
  {% csrf_token %}
  <input type="hidden" />
</form>
<form id="downvote" action="{% url 'downvote' pmodel.id %}" method="post">
  {% csrf_token %}
  <input type="hidden" />
</form>

{% endblock%}
