{% extends 'base.html' %}

{% block content %}
{% if error %}
  {{error}}
{% endif %}
<form method="post" action="{% url 'login' %}">
  <h1>Login</h1>
  {% csrf_token %}
  <div class="form-group">
    <label for="exampleInputPassword1">User Name</label>
    <input type="text" class="form-control"  placeholder="Full Name" name="username">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control"  placeholder="Password" name="password" autocomplete="off">
  </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock%}
