{% extends 'base.html' %}

{% block content %}
{% if error %}
{{error}}
{% endif %}
<form method="post" action="{% url 'signup' %}">
  <h1>Signup Form</h1>
  {% csrf_token %}
  <div class="form-group">
    <label for="exampleInputPassword1">First Name</label>
    <input type="text" class="form-control"  placeholder="Full Name" name="firstname">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Last Name</label>
    <input type="text" class="form-control"  placeholder="Full Name" name="lastname">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Desc</label>
    <input type="text" class="form-control"  placeholder="Full Name" name="desc">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">User Name</label>
    <input type="text" class="form-control"  placeholder="User Name" name="username">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" name="email" class="form-control"  aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control"  placeholder="Password" name="password" autocomplete="off">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">confirm Password</label>
    <input type="password" class="form-control"  placeholder="confirm Password" name="cnpass">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock%}
